{% load static %}
{% load custom_filters %}

<div class="container">
  <div class="row">
    {% for post in post_list %}
      <div class="col-12 col-sm-8 col-md-6 col-lg-4">
        <div class="card">
        {% if post.image %}
          <a href="{{ post.get_absolute_url }}"><img class="card-img" height="300" src="{{ post.image.url }}" alt="Vans"></a>
        {% else %}
          <a href="{{ post.get_absolute_url }}"><img class="card-img" height="300" src="{% static 'img/no_img.png' %}" alt="Vans"></a>
        {% endif %}
{% comment %}
          <div class="card-body">
            <h4 class="card-title"><a href="{{ post_absolute_url }}">{{ post.title }}</a></h4>
          </div>
          <div class="card-footer justify-content-between align-items-center">
            <div class="d-flex flex-row justify-content-between">
              <div class="price text-success"><h5 class="mt-4">{{ comments.author }} грн</h5></div>
            </div>
            <div class="form-group">
              <a href="#" class="btn btn-primary mt-3">Subscribe</a>
              <a href="#" class="btn btn-warning mt-3">Unsubscribe</a>
            </div>
{% endcomment %}
          </div>
        </div>
      </div>
    {% empty %}
      Комментов нет
    {% endfor %}
  </div>
</div>